/* VARIABLES */

:root {
  --main-color: #026cb6;
  --main-color-text-title: #627179;
  --border-color: #c4c4c4;
  --main-color-text: #8e8e8e;
  --error-color: #e85d1f;
  --padding-default: 15px;
}

/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
  font-size: 62.5%;
  background: #eef2f4;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

input.nostyle:focus,
select.nostyle:focus,
textarea.nostyle:focus {
  outline-width: 5px;
}

::-webkit-input-placeholder {
  /* Edge */
  color: var(--main-color-text);
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--main-color-text);
}

::placeholder {
  color: var(--main-color-text);
}

/*PAGE LOGIN*/
.container__login {
  background-image: url("../assets/imgs/background_login_mobile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-end;
}

.box_login {
  background: #fff;
  width: 500px;
  min-height: 360px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 20px 15px 0 15px;
  margin: 0 15px;
}

.box_login h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 3.6rem;
  color: var(--main-color);
}

.box_login h2 {
  color: var(--main-color-text-title);
  margin: 15px 0;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 35px;
}

.box_login .input__login {
  background: #fff;
  border-radius: 20px;
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 50px;

  overflow: hidden;
}

.box_login .input__login label {
  min-width: 80px;
  font-size: 1.2rem;
  color: var(--main-color-text);
}

.box_login .input__login input {
  border: none;
  width: 100%;
  height: 50px;
  padding-right: 15px;
  text-align: right;
  font-size: 1.4rem;
  color: var(--main-color-text);
}

.error-text {
  color: var(--error-color);
  font-size: 1.4rem;
  text-align: center;
  display: block;
  margin-top: 10px;
  display: none;
}

.box_login .error {
  border: 1px solid var(--error-color);
}

.box_login .error-login {
  margin-right: 15px;
  margin-bottom: 5px;
}

.box_login .row {
  margin-bottom: 10px;
}

.footer__login {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.box_login button {
  font-size: 1.4rem;
  width: 170px;
  height: 50px;
  border: 1px solid var(--border-color);
  border-radius: 20px;
  display: flex;
  align-items: center;
  background: transparent;
  padding-left: 15px;
  cursor: pointer;
  margin-left: 20px;
}

/*google button*/
.box_login .abcRioButtonLightBlue {
  border: 0;
  box-shadow: none;
  height: 50px !important;
}

.box_login .abcRioButton:hover {
  box-shadow: none;
}
.box_login .abcRioButtonContentWrapper {
  font-size: 1.4rem;
  width: 120px;
  height: 50px;
  border: 1px solid var(--border-color);
  border-radius: 20px;
  display: flex;
  align-items: center;
  background: transparent;
  padding-left: 15px;
  cursor: pointer;
  box-shadow: none;
}

.box_login button img {
  margin-right: 20%;
}
.box_login #btn_text {
  margin-left: -15px;
}

#form_report .error-text {
  text-align: start;
}

.link__login {
  font-size: 1.4rem;
  text-align: center;
  margin-top: 20px;
  color: #627179;
  text-decoration: none;
  width: 100%;
  display: block;
}
.link__login span {
  color: var(--main-color);
}

@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .container__login {
    background-image: url("../assets/imgs/background_login.jpg");
    background-size: cover;
  }
}

@media (min-width: 801px) {
  .container__login {
    justify-content: flex-end;
  }
  .box_login {
    margin-right: 180px;
    padding: 30px 30px 0 30px;
    min-height: 400px;
  }
}

/*PAGE DASHBOARD*/

header {
  background: #ffffff;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.07);
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  color: var(--main-color);
  font-weight: bold;
  padding-left: var(--padding-default);
  padding-right: var(--padding-default);
}

header a {
  color: var(--main-color);
  text-decoration: none;
}

.container-main {
  height: 100%;
}

.spacing-header {
  margin-top: 20px;
}

.filter-panel {
  margin-bottom: 20px;
}

.filter-panel .checkbox_text {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 60px;
}

.filter-panel .checkbox_text label {
  font-size: 1.4rem;
  margin-top: 20px;
}
.filter-panel .checkbox_text input {
  margin-right: 10px;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadeinMenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeinMenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu {
  background: #fff;
  display: none;
  position: fixed;
  width: 100%;
  z-index: 10;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.07);
  overflow: hidden;
  overflow-y: auto;
}

#toggleMenu {
  cursor: pointer;
}

.show-menu {
  display: block;
  -webkit-animation: fadeinMenu 0.2s;
  animation: fadeinMenu 0.2s;
}

.menu li {
  height: 70px;
  border: 1px solid #f3f3f3;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  padding-left: 15px;
  cursor: pointer;
}

.menu li a {
  display: flex;
  align-items: center;
  justify-content: start;
  text-decoration: none;
  color: #333;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.menu li::after {
  display: block;
  content: " ";
  min-width: 10px;
  min-height: 15px;
  background: url("../assets/imgs/icon_left.svg") no-repeat center;
  background-size: contain;
  margin-left: auto;
  margin-right: 15px;
}

.menu li span {
  min-width: 34px;
  min-height: 34px;
  background: #d6d6d6;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  color: #818b90;
}

.menu li.active,
.menu li:hover {
  background: #f8fafb;
}

.menu li.active span {
  background-color: var(--main-color);
}

.panel {
  display: block;
  width: calc(100vw - 250px);
  background: #ffffff;
  border-radius: 20px;
  min-height: 300px;
  padding: 20px;

  margin-top: 15px;
  font-size: 1.6rem;
  overflow: hidden;
}

.panel h2 {
  color: var(--main-color-text-title);
  font-size: 1.8rem;
  font-weight: normal;
}

button[btn],
a[btn] {
  font-size: 1.4rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 20px;
  border-radius: 1000px;
  border: 1px solid var(--main-color-text-title);
  background: transparent;
  color: var(--main-color-text-title);
  cursor: pointer;
  transition: 0.2s;
  margin-right: 15px;
  text-decoration: none;
}

button[btn]:hover,
a[btn]:hover {
  background: var(--main-color-text-title);
  color: #fff;
}

button[btn-filter] {
  background-color: var(--main-color);
  color: #fff;
  margin: 0;
  margin-top: 20px;
}

button[btn-filter]:hover {
  background-color: #004474;
}

.form-group {
  margin-top: 10px;
}

.form-group label {
  font-size: 1.1rem;
  display: block;
  text-transform: uppercase;
  color: var(--main-color-text-title);
  font-weight: normal;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group select,
.form-group input[type="password"] {
  width: 100%;
  font-size: 1.4rem;
  color: var(--main-color-text);
  height: 40px;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 8px;
  padding-left: 10px;
}

.box-files {
  margin-top: 10px;
  border-radius: 8px;
  border: 1px dashed var(--border-color);
  font-size: 2rem;
}

.box-align-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.button-form {
  font-size: 1.4rem;
  width: 150px;
  height: 50px;
  border: 1px solid var(--border-color);
  border-radius: 20px;
  display: flex;
  align-items: center;
  background: transparent;
  padding-left: 30px;
  padding-right: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

#basic_info,
#basic_paginate,
#basic_length {
  font-size: 1.2rem;
}

#basic_paginate .paginate_button {
  border: 0;
  border-radius: 6px;
}

#basic_paginate > span > a.paginate_button.current {
  background-color: var(--main-color) !important;
}

#basic_filter label {
  text-align: left;
  font-size: 0rem;
  display: block;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 5px;
  color: transparent;
}

#basic_filter input,
#basic_length select {
  width: 100%;
  font-size: 1.4rem;
  color: var(--main-color-text);
  height: 40px;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 8px;
  padding-left: 10px;
}

#basic_length select {
  width: 60px;
}

#basic_length {
  display: flex;
  align-items: center;
  justify-content: start;
}

table.dataTable tbody th,
table.dataTable tbody td {
  display: block;
}

table.dataTable tbody th {
  border: 1px solid var(--border-color);
}

table.dataTable tbody td .title-mobile {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

table.dataTable tbody td:first-child {
  margin-top: 10px;
}

table.dataTable tbody td:last-child {
  border-bottom: 1px solid #ccc;
  margin-bottom: 25px;
  padding-bottom: 25px;
}

table thead {
  display: none;
}

table {
  font-size: 1.6rem;
  text-align: left;
  table-layout: fixed;
  word-wrap: break-word;
}

table.dataTable tbody th,
table.dataTable tbody td {
  padding: 8px 0px;
}

.buttons {
  max-width: 30px;
}

.buttons a {
  text-decoration: none;
  margin-right: 15px;
}

.buttons img {
  height: 30px;
  width: 30px;
}

.box-content {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 80vh;
  height: 100vh;
}

.buttons-action a {
  color: var(--main-color-text-title);
}
.buttons-action .remove {
  color: var(--error-color);
}

/*SNACKBAR*/
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
  font-size: 1.4rem;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

/*FIM SNACKBAR*/

/*LOADER*/
.loader-box {
  display: none;
  align-items: center;
  justify-content: center;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--main-color);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/*modal*/
.blocker {
  z-index: 9999;
}

.modal {
  width: 100%;
  height: 90vh;
  padding: 10px 20px 15px 0;
  max-width: 800px;
}

.modal a.close-modal {
  position: absolute;
  top: 1.5px;
  right: 2.5px;
}

.modal div:first-child {
  overflow: hidden !important;
}

@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}
@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
}
@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .container__login {
    background-image: url("../assets/imgs/background_login.jpg");
    background-size: cover;
  }
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */

  #basic_info,
  #basic_paginate,
  #basic_length {
    font-size: 1.4rem;
  }

  .buttons img {
    height: 20px;
    width: 20px;
  }

  table.dataTable tbody th,
  table.dataTable tbody td {
    display: table-cell;
    border: 0;
  }

  table.dataTable tbody td .title-mobile {
    display: none;
  }

  table.dataTable tbody tr {
    margin-bottom: 10px;
  }

  table.dataTable tbody td:first-child {
    margin-top: 10px;
  }

  table.dataTable tbody td:last-child {
    border: 0;
    margin: 0;
    padding: 0;
  }

  table thead {
    display: table-header-group;
  }

  .container__login {
    justify-content: flex-end;
  }
  .box_login {
    margin-right: 180px;
    padding: 30px 30px 0 30px;
    min-height: 400px;
  }

  .menu {
    display: block;
    min-width: 225px;
    max-width: 225px;
    height: calc(100vh - 90px);
    position: initial;
    margin-top: 88px;
    z-index: 10;
  }

  .container-main {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  header {
    position: absolute;
    z-index: 11;
    width: 100%;
  }

  .spacing-header {
    margin-top: 110px;
  }

  #toggleMenu {
    display: none;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}

.container-list {
  margin-left: 16px;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.box-chart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
